
# Compiled Object files
*.o

# Executables
s_cosmotost
cosmotost
a.out

# Any logs or txt files
*.txt
*.log

#vscode directory
.vscode

#frameworks - don't push them / track them
frameworks/
openalTest/